/* CSS declarations go here */
/* CSS declarations go here */
.login-display-name{color: white }
.login-button{background-color: white}
#main {
    padding-top:20px;
    overflow: auto;
    overflow-x: hidden;
    height: 600px;
}

.footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#containerFacebook button{
    
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
    border-color: #2d5073;
    background-color: #3b5998;
}

button#facebook-login {
	margin-top: 20px;
	padding-right: 45px;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

button#facebook-logout {

}