
<template name="question">
    <div>
        <p class="lead">

        <div>{{questionText}}&nbsp;<p style="display: inline;font-size:xx-small">PostBy:</p>
            {{{author}}}&nbsp;&nbsp;

            {{#if isOwner}}
                <a class="btn btn-small delete {{#unless currentUser}}disabled{{/unless}}"
                   href="#"><i class="icon-remove-sign"></i>Delete</a>
            {{/if}}

        </div>

            <textarea rows="1" name="answerText{{this_id}}"
                      id="answerText{{this._id}}"
                      placeholder="Add your answer"></textarea>
        <input type="button" class="btn add-answer" value="+"/>
        <br/>

        {{#each answers}}
            {{>answer}}
            <br/>
        {{/each}}
       <div style="margin-top: 50px;">
           {{>admin}}
       </div>
        </p>
    </div>
</template>


<template name="questions">
    <hr>
    <h2>Questions list:</h2>
    {{#each items}}
        {{>question}}
    {{/each}}
</template>


<template name="addQuestion">
    <br/><br/>
    <textarea rows="3" class="input-xxlarge" name="questionText" id="questionText"
              placeholder="Express your questions"></textarea>

    <input type="button" class="btn-info add-question" value="Add Question"/><br/>


</template>